<!DOCTYPE html>
<html>
<head>
    <title>Adding batch </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">

    <form class="well form-horizontal" action="" method="post"  id="contact_form">
<fieldset>
{% csrf_token %}
<!-- Form Name -->
<legend><center><h2><b>Add batch</b></h2></center></legend><br>

<!-- Text input-->

<!-- <div class="form-group"> 
  <label class="col-md-4 control-label">Start Date</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="passenger_type" class="form-control selectpicker">
      <option value="">Select User Type</option>
      <option>Student</option>
      <option>Employee</option>
      
      </select>
  </div>
</div>
</div> -->
<div class="form-group">
  <label class="col-md-4 control-label">Course</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<select name="course" class="form-control selectpicker">
      <option value="">Select course</option>
      <option>Student</option>
      <option>Employee</option>
      
      </select> </div>
  </div>
</div>


   <div class="form-group">
  <label class="col-md-4 control-label">Batch Name </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-equalizer"></i></span>
  <input  name="batch" placeholder="Batch Name" class="form-control"  type="text">
    
 </div>
  </div>
</div> 
  
<div class="form-group">
  <label class="col-md-4 control-label">Start Date</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="start_date" placeholder=" Start Date " class="form-control"  type="date">
 </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">End Date </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-equalizer"></i></span>
  <input  name="end_date" placeholder=" End of Date" class="form-control"  type="Date">
    
 </div>
  </div>
</div> 
<div class="form-group">
  <label class="col-md-4 control-label"> Maximum Number of student </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-equalizer"></i></span>
  <input  name="max_no_of_student " Placeholder=" Max Number of Student" class="form-control"  type="Number">
    
 </div>
  </div>
</div> 

   <!-- Success message -->
      <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

    
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit"  class="btn btn-warning" >&nbsp;&nbsp;&nbsp;&nbsp;SUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->
    <script type="text/javascript">
        $(document).ready(function() {
    $('#contact_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            subject_name: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Please supply your subject name'
                    }
                }
            },
             subject_code: {
                validators: {
                     stringLength: {
                        min: 2,
                    },
                    notEmpty: {
                        message: 'Please supply code'
                    }
                }
            },
         
            subject_description: {
                validators: {
                      stringLength: {
                        min: 10,
                        max: 200,
                        message:'Please enter at least 10 characters and no more than 200'
                    },
                    notEmpty: {
                        message: 'Please supply a description of your project'
                    }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#contact_form').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
        });
});


               // For getting CSRF token

function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
         // Does this cookie string begin with the name we want?
         if (cookie.substring(0, name.length + 1) == (name + '=')) {
             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
             break;
          }
     }
 }
 return cookieValue;
}


//For doing AJAX post
 $(".btn btn-warning").click(function(e) {

 e.preventDefault();

 var csrftoken = getCookie('csrftoken');
 var course = $('.course').val();
 var batch = $('.batch').val();
 var start_date = $('.start_date').val();
 var end_date = $('.end_date').val();
 var max_no_of_student = $('.max_no_of_student').val();
 
  
//This is the Ajax post.Observe carefully. It is nothing but details of where_to_post,what_to_post
 
 $.ajax({
         url : window.location.href, // the endpoint,commonly same url
         type : "POST", // http method
         data : { csrfmiddlewaretoken : csrftoken, 
         course : course,
         batch : batch,
         start_date : start_date,
         end_date : end_date,
         max_no_of_student : max_no_of_student
        
 }, // data sent with the post request

 // handle a successful response
 success : function(json) {
      console.log(json); // another sanity check
      //On success show the data posted to server as a message
      alert('recorded success added');
 },

 // handle a non-successful response
 error : function(xhr,errmsg,err) {
 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
 }
 });
});
    </script>
    <script type="text/javascript" href="http:/cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
</body>
</html>
